---
import Layout from '../../layouts/Layout.astro'
import fetchApi from "../../lib/strapi";
import ProductForm from '../../components/ProductForm.astro'




export async function getStaticPaths() {
  const products = await fetchApi({
    endpoint: "products?populate=*",
    wrappedByKey: "data",
  });

  // const wilayas = await fetchApi({
  //   endpoint: "wilayas?populate=*",
  //   wrappedByKey: "data",
  // });

  return products.map((product) => ({
    params: { slug: product?.attributes?.slug },
    props: { product }
  }));
}

const {product }  = Astro.props;
---
<Layout title={product?.attributes?.title}>
  <main class=" max-w-screen-xl">
      <section class="w-screen mb-6">
          <div class="m-4 mx-auto max-w-screen-lg rounded-md border border-gray-100 text-gray-600 shadow-md">
            <h1 class="text-gray-900 my-2 text-center font-black  text-3xl">{product?.attributes?.title}</h1>
            <div class="relative flex  flex-col text-gray-600 md:flex-row">
              <div class="relative p-6 md:w-4/6"> 
                <ProductForm productPrice={product?.attributes?.price} productTitle = {product?.attributes?.title}/>
              </div>
              <div class="mx-auto flex items-center px-5 pt-1 md:p-8">
                <img class="block h-auto max-w-full rounded-md" src={product?.attributes?.banner?.data?.attributes?.url} alt={product?.attributes?.title} />
              </div>
            </div>
          </div>
          </section>
      <section class="">
        <h1 class="text-gray-900 my-2 text-center font-black  text-3xl">{product?.attributes?.title}</h1>


        
      </section>
        
  </main>
</Layout>

<style>
/* custom.css */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

</style>