---
import Layout from '../../layouts/Layout.astro'
import fetchApi from "../../lib/strapi";
import ProductForm from '../../components/ProductForm.astro'




export async function getStaticPaths() {
  const products = await fetchApi({
    endpoint: "products?populate=*",
    wrappedByKey: "data",
  });

  // const wilayas = await fetchApi({
  //   endpoint: "wilayas?populate=*",
  //   wrappedByKey: "data",
  // });

  return products.map((product) => ({
    params: { slug: product?.attributes?.slug },
    props: { product }
  }));
}

const {product }  = Astro.props;
---
<Layout title={product?.attributes?.title}>
  <main class=" max-w-screen-xl">
      <section class="w-screen">
          <div class="m-4 mx-auto max-w-screen-lg rounded-md border border-gray-100 text-gray-600 shadow-md">
            <div class="relative flex h-full flex-col text-gray-600 md:flex-row">
              <div class="relative p-8 md:w-4/6"> 
                <div class="flex flex-col md:flex-row">
                  <h1 class="mb-2 text-2xl font-black">{product?.attributes?.title}</h1>
                  {
                    product?.attributes?.discount && (
                  <span class="ml-2 text-xs font-bold uppercase">تخفيض</span>
                    )
                  }
                </div>
                <!-- <p class="mt-3 font-sans text-base tracking-normal">{product?.attributes?.description}</p> -->
                <div class="flex flex-col md:flex-row md:items-end">
                  <p class="mt-6 text-4xl font-black">{product?.attributes?.price}</p>
                  {
                    product?.attributes?.discount && (
                  <span class="ml-2 text-xs line-through uppercase">{product?.attributes?.fakeprice}</span>
                    )
                  }
                </div>
                <ProductForm productPrice={product?.attributes?.price}/>
              </div>
              <div class="mx-auto flex items-center px-5 pt-1 md:p-8">
                <img class="block h-auto max-w-full rounded-md shadow-lg" src={product?.attributes?.banner?.data?.attributes?.url} alt={product?.attributes?.title} />
              </div>
            </div>
          </div>
          
          </section>
        
  </main>
</Layout>

<style>
/* custom.css */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

</style>